In [1]:
import pandas as pd

In [ ]:
# pd.DataFrame(columns = ["type", "n_processes", "overall_time", "processes_time"]).to_csv("results.csv", index=False)

In [6]:
res = pd.read_csv("results.csv").assign(formatted_time = lambda df: pd.to_datetime(df['overall_time'], unit='s').dt.strftime("%H:%M:%S")).sort_values(["type", "n_processes"])
res

  type  n_processes  overall_time formatted_time
5   bg            1    437.436719       00:07:17
4   bg            2    418.073356       00:06:58
2  sml            1     65.467656       00:01:05
3  sml            2     58.317303       00:00:58
1  tst            1      6.752745       00:00:06
0  tst            2      5.732378       00:00:05